<!DOCTYPE html>
<html>

<head>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="/scripts/scriptPrivateArea.js"></script> -->
    <style>
        body {
            background-color: lightblue;

        }

        div {
            text-align: right;
            font: 1em FbTypoPas Regular;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div>
        שם פרטי:
        <%=d.firstName%><br><br>
        שם משפחה:
        <%=d.lastName%><br><br>
        עיר מגורים:
        <%=d.city%><br><br>
        מין:
        <%=d.gender%><br><br>
        מייל:
        <%=d.email%><br><br>
        סיסמא:
        <%=d.password%><br><br>
        טלפון:
        <%=d.phoneNumber%><br><br>
        מקצוע:
        <%=d.profession%><br><br>
        </h1>
    </div>
</body>

</html>