<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../public/styles/styleResults.css">
    <title>מקום למלא</title>

</head>

<body>

    <header>
        <!-- <img class="pass" src="/images/headerline.jpg"> -->

        <!-- <img class="pass" src="/images/headerline.jpg"> -->
        <div class="pass">
            <img class="home" src="/images/pass2.jpg" style="width: 80px; float: right;">
            <a href="/" target="_parent" class="home"><img src="/images/logo1.jpg" class="home"
                    style="width: 450px; "></a>
            <img class="home" style="width: 750px; float: left;" src="/images/pass1.jpg">
        </div>

        <br>
        <h1>תוצאות חיפוש</h1>
    </header>


    <div class="div1">
        <table>
            <tr>
                <td>
                    <div id="firstName">שם פרטי:<br>
                        <%=d.firstName%>
                    </div>
                </td>
                <!-- <td><input type="text" name="firstName" id="firstName"></td> -->

            </tr>
            <tr>
                <td>
                    <div id="lastName">שם משפחה:<br>
                        <%= d.lastName%>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div id="city">כתובת:<br>
                        <%=d.city%>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div id="email">אי-מייל:<br>
                        <%=d.email%>
                    </div>
                </td>

            </tr>
            <tr>
                <td><label for="phoneNumber">מספר טלפון:<br>
                        <%=d.phoneNumber%>
                </td>

            </tr>


        </table>
    </div>

<script>
// $.ajax({
//   type: "POST",
//   url: "https://mandrillapp.com/api/1.0/messages/send.json",
//   data: {
//     'key': '0e7d89e8a3d82053979438ba11dc4b2b-us4',
//     'message': {
//       'from_email': 'makomlemale@gmail.com',
//       'to': [
//           {
//             ‘email’: ‘RECIPIENT_NO_1@EMAIL.HERE’,
//             ‘name’: ‘RECIPIENT NAME (OPTIONAL)’,
//             ‘type’: ‘to’
//           },
//           {
//             ‘email’: ‘RECIPIENT_NO_2@EMAIL.HERE’,
//             ‘name’: ‘ANOTHER RECIPIENT NAME (OPTIONAL)’,
//             ‘type’: ‘to’
//           }
//         ],
//       ‘autotext’: ‘true’,
//       ‘subject’: ‘YOUR SUBJECT HERE!’,
//       ‘html’: ‘YOUR EMAIL CONTENT HERE! YOU CAN USE HTML!’
//     }
//   }
//  }).done(function(response) {
//    console.log(response); // if you're into that sorta thing
//  });
</script>

</body>

</html>